:root {
  --seitenhintergrund: #45414e;
  --schriftfarbe: #fffdeb;
  --akzentfarbe1: #e07a5f;
  --akzentfarbe2: #838e83;
  --akzentfarbe3: #bbbdf6;
}

* {
  font-family: "Jost", sans-serif;
  font-family: "Caveat", cursive;
  font-family: "Dancing Script", cursive;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Nanum Gothic", sans-serif;
  font-family: "Caveat", cursive;
  font-family: "Inter", sans-serif;
  font-weight: 200;

  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-size: inherit;
  line-height: 1.5em;
}

body {
  background-color: var(--seitenhintergrund);
  color: var(--schriftfarbe);
  font-size: 16px;
}
header {
  background-color: var(--schriftfarbe);
  color: var(--seitenhintergrund);
  padding: 1rem 2rem;
}
a {
  color: inherit;
  text-decoration: none;
}
main {
  padding: 2rem;
}
h1 {
  font-size: 24px;
  padding-bottom: 1rem;
}
th {
  font-weight: inherit;
  text-align: left;
  padding-right: 1rem;
}

.twowaynav {
  display: flex;
  column-gap: 10px;
  justify-content: center;
}
.twowaynav > a {
  width: 48%;
  max-width: 280px;
  background: var(--akzentfarbe2);
  border: 1px solid var(--akzentfarbe1);
  text-align: center;
  font-size: 24px;
  font-weight: 700;
  padding: 1.5rem 0;
}
.twowaynav > a:hover {
  background: var(--akzentfarbe1);
  color: var(--seitenhintergrund);
}

.offer-detail h1, .request-detail h1 {
  font-family: "Caveat", cursive;
  font-weight: 300;
}
.offer-detail img {
  background: var(--akzentfarbe3);
  width: 600px;
  height: 150px;
}
.offer-detail table + div, .request-detail table + div { 
  margin-top: 1rem;
}
.flat-card {
  padding: 1rem;
  margin-top: 1rem;
  border: 1px solid var(--akzentfarbe1);
}
.featurepoint {
  display: inline-block;
  padding: 0 0.4rem;
  margin-right: 0.5rem;
  background: var(--akzentfarbe2);
  border-radius: 4px;
  line-height: 1.3em;
}
.randomimage > img {
  width: 100%;
}
sup {
  font-size: 0.6rem;
  line-height: 1em;
}

/* Filter Formular Einblendung  */
fieldset {
  border: 1px solid var(--akzentfarbe3);
  margin: 0.5rem 0;
}
.filter-div {
  margin: 0 auto;
  max-width: 500px; 
}
.hid-checkb {
  position: absolute;
  left: -9999px;
}
.button-style { 
  background: var(--akzentfarbe2);
  border: 1px solid var(--akzentfarbe1);
  text-align: center;
  font-size: 18px;
  font-weight: 500;
  padding: 0.8rem 0;
  display: block;
  color: var(--schriftfarbe);
  width: 100%;
}
.button-style:hover {
  background: var(--akzentfarbe1);
  color: var(--seitenhintergrund);
}
.hid-checkb ~ .filter-form { 
  max-height: 0; 
  overflow: hidden;
  transition: max-height 0.4s ease-out;
}
.filter-form label, .filter-form input { 
  display: inline-block;
}
.filter-form label { 
  width: 40%;
}
.filter-form input { 
  width: 60%;
  padding-left: 0.5rem;
  background: var(--schriftfarbe);
  color: var(--seitenhintergrund);
  border: 1px solid var(--akzentfarbe3);
}
.filter-form > fieldset {
  padding: 0 0 1rem 0;
}
.filter-form > fieldset > div {
  padding: 1rem 1rem 0 1rem
}
.hid-checkb:checked ~ .filter-form { max-height: 350px; }




@media only screen and (max-width: 480px) {
  .filter-form label, .filter-form input { 
    display: block;
  }
  .filter-form label { 
    width: 100%;
  }
  .filter-form input { 
    width: 100%;
  }
}

