:root {
  --seitenhintergrund: #45414e;
  --schriftfarbe: #fffdeb;
  --akzentfarbe1: #e07a5f;
  --akzentfarbe2: #838e83;
  --akzentfarbe3: #bbbdf6;
}

* {
  font-family: "Caveat", cursive;
  font-family: "Dancing Script", cursive;
  font-family: "Josefin Sans", sans-serif;
  font-family: "Nanum Gothic", sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: var(--seitenhintergrund);
  color: var(--schriftfarbe);
}

a {
  color: inherit;
  text-decoration: none;
}
